language: java

matrix:
  include:
    - name: 'openjdk8'
      os: linux
      dist: trusty
      jdk: openjdk8
    - name: 'oracle8'
      os: linux
      dist: trusty
      jdk: oraclejdk8
    - name: 'oracle9'
      os: linux
      dist: trusty
      jdk: oraclejdk9
    - name: 'openjdk10'
      os: linux
      dist: xenial
      jdk: openjdk10
    - name: 'openjdk11'
      os: linux
      dist: xenial
      jdk: openjdk11
    - name: 'oracle11'
      os: linux
      dist: trusty
      jdk: oraclejdk11

env:
  global:
    - secure: "eRawyz1ErcrqFuMYJBMthEdCOYUbRih0icC+6NiJI7gHotcWoaZO3HNkPHKBQ3Ndl3jj4sC1dubJsOCbic41voz27d3UQO1NRoKJ4HCICZn0F9dOUR2P5MMRQJokR1iGzG+DgdfClT1ZrKz015YL55hHG/XdwjdXONg8mG3NMN1+H4hXdxIeP+3osR/5vLCG40tfvIwlB4XZIrrdB8JFda8i5LD1Ty7dxBJ5Tlw5aW2Qx7jBLfhNUNKu+ARzkqKlYVJJux0zzhfzD8e2c9yWUIuev/pttEv08pUOy+z1/zZtC6Uvp/Dxe1TX/xfhZ+7dY0lvG0gq0bSpUqRVAR9L5kN0NBBkiwrZHx3e/FhNcVIcaoHH46p8tug7+PIXPECST/aC/Nt1rIMT5mtcd8tFXKCVTZUzerxtmV42wt9S38/CUTlg/jcDcMj5NF9sr2lG4ZVf0odwttb1oFTTSJh1EJ1voCgkvxSucY/xmp/cIPFNgqNh9/rWDUxuscHmgHD/KkwmlSGMtqti1aIANyxwfL06s9+P1JN+gR+yhQ7B3mGwb4m7d5Yl2fe71l2aKulwu9Np+QANMyS9QfP8wyCq5vDUEZfsahlZR6IINw3aFOMK5H+GBTrAAgqtEQpZMDYU7cMbS002lRXbnXpAPH4tFZ9EtPPeYilBJ9ZDqDScVrk="

before_install:
  - openssl aes-256-cbc -k "$tlspwd" -md sha256 -in ./.ci/client-combined.pem.enc -out ./.ci/client-combined.pem -d


script:
  - export krnl="$(uname -s | tr '[:upper:]' '[:lower:]')"
  - wget https://github.com/square/ghostunnel/releases/download/v1.3.1/ghostunnel-v1.3.1-$krnl-amd64-with-pkcs11 -O ghostunnel
  - chmod +x ./ghostunnel
  - ./ghostunnel client --listen localhost:12345 --target hsm-connector01.sthlm.in.yubico.org:8443 --keystore ./.ci/client-combined.pem --cacert ./.ci/server-crt.pem 2>/dev/null &
  - sleep 3
  - export DEFAULT_CONNECTOR_URL="$(curl http://localhost:12345/dispatcher/request)"
  - echo DEFAULT_CONNECTOR_URL=$DEFAULT_CONNECTOR_URL
  - ./gradlew clean test
  #- ./gradlew clean optionsTest
  - travis_wait 30 ./gradlew clean integrationTest

after_failure:
  - less build/reports/tests/integrationTest/classes/*

after_script:
  - curl "http://localhost:12345/dispatcher/release?connector=$DEFAULT_CONNECTOR_URL"
